apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: talentlink-local
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - port: 5000
      targetPort: 5000
